@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;900&display=swap");
:root {
  /* Styles */
  --border-1px-yellow: 1px solid #F5C518;
  --border-radius-boxes: 0.4em;
  /* Color styles */
  --color-yellow-logo: #F5C518;
  --color-yellow-80: rgba(245, 197, 24, 0.5);
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #EF5A5A;
  --color-green-checked: #2DEB35;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-grey-disabled: #404040;
  --color-black-90: rgba(0, 0, 0, 0.9);
  /* Font styles */
}
:root h2, :root h3, :root h4, :root h5, :root h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
:root h1, :root .lets-explore {
  font-family: "Roboto";
  font-size: 3.583rem;
  line-height: 67px;
  font-weight: 400;
}
:root h2 {
  font-size: 2.986rem;
  line-height: 58px;
}
:root h3, :root .h3 {
  font-size: 2.488rem;
  line-height: 48px;
}
:root h4, :root .h4 {
  font-size: 2.074rem;
  line-height: 40px;
  color: var(--color-yellow-logo);
}
:root .h4 {
  color: var(--color-white);
}
:root h5, :root .h5 {
  font-size: 1.728rem;
  line-height: 33px;
}
:root h6, :root .h6 {
  font-weight: 600;
  font-size: 1.44rem;
  line-height: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
* #yellow {
  color: var(--color-yellow-logo);
}

html {
  font-family: Roboto, Inter, Helvetica, sans-serif;
}

body {
  position: relative;
  background-color: var(--color-black-90);
  background-image: url(../images/bg-img.jpg);
  background-size: cover;
  color: var(--color-white);
  height: 100vh;
}

/* Header section */
header {
  border-bottom: 1px solid var(--color-yellow-logo);
  background-color: var(--color-black-60);
  width: 100%;
}

/* Skip-to main tip from https://css-tricks.com/how-to-create-a-skip-to-content-link/#maincontent */
.skip-link {
  background: var(--color-black-90);
  color: var(--color-yellow-logo);
  font-weight: 700;
  left: 1%;
  top: 10px;
  padding: 4px;
  border-radius: 0.4em;
  border: 1px solid var(--color-yellow-logo);
  position: absolute;
  transform: translateY(-200px);
}

.skip-link:focus {
  transform: translateY(0%);
}

header a,
footer a {
  color: var(--color-white);
  font-size: 1rem;
  text-decoration: none;
}

.explore_none,
.explore,
.logout,
.profile__name {
  display: none;
}

.links a {
  width: 100%;
}

.menu-flyin {
  display: none;
  position: fixed;
  width: 160px;
  height: 340px;
  top: 47px;
  right: 6px;
  margin: 0;
  background-color: var(--color-black-90);
  z-index: 999;
  border: 1px solid var(--color-yellow-logo);
  border-radius: 1em;
}
.menu-flyin .active {
  height: 24px;
  background-color: var(--color-grey-disabled);
  border-radius: 0.4em;
  cursor: default;
  color: var(--color-yellow-logo);
}

.close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 20px;
  gap: 3px;
  margin-left: 80px;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.close img {
  padding: 2px;
  width: 20px;
}

.menu-flyin .links {
  display: flex;
  width: 140px;
  padding: 3px 0;
  margin: 0 3px;
  z-index: 999;
  cursor: pointer;
}
.menu-flyin .links img {
  padding: 2px;
  width: 30px;
  height: 30px;
}

#ham-burger, #top-burger {
  display: none;
}

#top-burger:checked ~ .menu-flyin {
  display: block;
  -webkit-animation-name: flyin;
          animation-name: flyin;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes flyin {
  0% {
    top: -300px;
  }
  100% {
    top: 47px;
  }
}

@keyframes flyin {
  0% {
    top: -300px;
  }
  100% {
    top: 47px;
  }
}
.header__wrapper {
  margin: 0 auto;
  height: 140px;
  width: 100%;
}

.top-burger {
  cursor: pointer;
}

.navbar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  position: fixed;
  height: 35px;
  background: var(--color-black);
  border-radius: 0.5em;
  padding-top: 0px;
  z-index: 1000;
}

.navbar-top .topmenu__images {
  margin: 3px;
  display: flex;
  align-items: center;
}

.navbar-top .top-menu {
  display: inline-block;
  margin-top: 2px;
  width: 100%;
  border: 0px;
}

.menu {
  align-items: center;
}

.topnav__mob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  padding: 0;
}

.topnav__mob .menu {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 0px;
  align-items: center;
  width: 360px;
  height: 35px;
  border-radius: 0.5em;
  border: 1px solid var(--color-yellow-logo);
  padding: 0;
}

.topnav__mob .links:hover {
  background-color: var(--color-grey-disabled);
  border-top: 1px solid var(--color-yellow-logo);
  border-bottom: 1px solid var(--color-yellow-logo);
  border-radius: 0.4em;
  color: var(--color-yellow-logo);
}

.menu-flyin .links:hover {
  background-color: var(--color-grey-disabled);
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  color: var(--color-yellow-logo);
  border-right: 2px solid var(--color-yellow-logo);
  border-radius: 0.4em;
}

.topnav__mob .menu .active {
  background-color: var(--color-grey-disabled);
  border-radius: 0.4em;
  cursor: default;
  color: var(--color-yellow-logo);
}

.topnav__mob .links {
  display: Flex;
  list-style: none;
  align-items: center;
  padding: 3px 0;
  width: auto;
  height: 30px;
  justify-content: flex-start;
}
.topnav__mob .links img {
  width: 24px;
}

.topnav__mob, .links a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.back {
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.index_sign-in__profile_pic {
  background-image: url(../images/img_profilepic_unregistered.png);
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: profile__pic;
  align-self: center;
  background-position-y: top;
  margin-right: 10px;
  margin-top: 5px;
  height: 100%;
}

/* Main section*/
main {
  background-color: var(--color-black-60);
}

/* Put section ID's here from the different pages */
.index, .index_sign-in, .about, .profile, .contact, .checkout, .checkout_success, .sellgames {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 50vh;
}

.yellow, .price__before {
  color: var(--color-yellow-logo);
}

/* Homepage | Main section */
.index .buy-sell_buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 5em;
}
.index .buy-sell_buttons img:hover {
  transform: scale(1.5);
}
.index .buy-sell_buttons img {
  width: 12vh;
  border-radius: 50%;
  transition: all 0.3s;
}
.index .buy-sell_buttons a {
  border-radius: 50%;
}
.index .logo__main {
  display: flex;
  margin: 0;
  width: 80%;
  max-width: 1000px;
  height: 40vh;
  justify-content: center;
  background-image: url(../images/gamehub/logo_ylw_blk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.index .apps {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-around;
  margin: 2em auto 4em auto;
}
.index .apps img:hover {
  transform: scale(1.1);
}
.index .apps img {
  align-items: center;
  width: 100%;
  max-width: 156px;
  transition: all 0.3s;
}

/* Global text indent - all inputs */
input {
  text-indent: 10px;
}

/* Sign in or Register | Main section */
.index_sign-in, .sellgames {
  min-height: 50vh;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}
.index_sign-in input, .sellgames input {
  text-indent: 10px;
}
.index_sign-in h1, .index_sign-in .lets-explore, .sellgames h1, .sellgames .lets-explore {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  font-family: "Roboto";
  font-size: 2.8rem;
  white-space: nowrap;
}
.index_sign-in fieldset, .sellgames fieldset {
  width: 350px;
  border: 1px solid var(--color-yellow-logo);
  padding: 0.3em;
  border-radius: var(--border-radius-boxes);
  color: var(--color-white);
  background-color: var(--color-black-60);
}
.index_sign-in legend, .sellgames legend {
  padding: 0 0.5em;
  color: var(--color-yellow-logo);
  font-size: 1.4rem;
  text-align: center;
}
.index_sign-in .signin_form_wrapper, .index_sign-in .register_form_wrapper, .index_sign-in .sellgames_form_wrapper, .sellgames .signin_form_wrapper, .sellgames .register_form_wrapper, .sellgames .sellgames_form_wrapper {
  display: flex;
  justify-content: space-between;
}
.index_sign-in .full_sign-in_wrapper, .sellgames .full_sign-in_wrapper {
  display: block;
}
.index_sign-in .sign_in, .index_sign-in .register, .index_sign-in .sellgames, .sellgames .sign_in, .sellgames .register, .sellgames .sellgames {
  margin: 0.6em 0;
  display: flex;
  width: 350px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}
.index_sign-in .sign_in label, .index_sign-in .register label, .index_sign-in .sellgames label, .sellgames .sign_in label, .sellgames .register label, .sellgames .sellgames label {
  display: flex;
  color: var(--color-white);
  justify-content: left;
}
.index_sign-in .sign_in .sign-in-button, .index_sign-in .sign_in .register-button, .index_sign-in .register .sign-in-button, .index_sign-in .register .register-button, .index_sign-in .sellgames .sign-in-button, .index_sign-in .sellgames .register-button, .sellgames .sign_in .sign-in-button, .sellgames .sign_in .register-button, .sellgames .register .sign-in-button, .sellgames .register .register-button, .sellgames .sellgames .sign-in-button, .sellgames .sellgames .register-button {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}
.index_sign-in .sign_in #username_signin, .index_sign-in .sign_in #password_signin, .index_sign-in .register #username_signin, .index_sign-in .register #password_signin, .index_sign-in .sellgames #username_signin, .index_sign-in .sellgames #password_signin, .sellgames .sign_in #username_signin, .sellgames .sign_in #password_signin, .sellgames .register #username_signin, .sellgames .register #password_signin, .sellgames .sellgames #username_signin, .sellgames .sellgames #password_signin {
  width: 150px;
  background-color: var(--color-black);
  color: var(--color-yellow-logo);
  border: 1px solid var(--color-yellow-logo);
  height: 30px;
  border-radius: 0.4em;
  margin: 0 20px;
  margin: 0.4em 0;
}
.index_sign-in #password_signin:focus-within, .index_sign-in #username_signin:focus-within, .sellgames #password_signin:focus-within, .sellgames #username_signin:focus-within {
  background-color: lightgoldenrodyellow;
  color: var(--color-black-90);
}
.index_sign-in h3, .index_sign-in .h3, .sellgames h3, .sellgames .h3 {
  margin-top: 1em;
}
.index_sign-in .quick_buttons, .sellgames .quick_buttons {
  display: flex;
  justify-content: space-around;
  width: 370px;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.index_sign-in .quick_buttons a, .sellgames .quick_buttons a {
  display: flex;
  width: 128px;
  height: 40px;
  text-decoration: none;
  justify-content: space-evenly;
  background-color: var(--color-black-90);
  color: var(--color-white);
  border: 1px solid var(--color-yellow-logo);
  padding: 10px;
  align-items: center;
  font-size: 1.15rem;
  white-space: nowrap;
}
.index_sign-in a, .sellgames a {
  border: 1px solid var(--color-black-90);
  background-color: var(--color-yellow-logo);
  color: var(--color-black-90);
  padding: 3px 8em;
  border-radius: 0.4em;
  text-decoration: none;
  font-weight: 400;
}
.index_sign-in .facebook::before, .sellgames .facebook::before {
  content: url(../images/ico_facebook.svg);
}
.index_sign-in .google::before, .sellgames .google::before {
  content: url(../images/ico_google-chrome.svg);
}
.index_sign-in a:hover, .sellgames a:hover {
  background-color: var(--color-grey-disabled);
  color: var(--color-yellow-logo);
  border: 1px solid var(--color-yellow-logo);
}
.index_sign-in h4, .index_sign-in h4, .sellgames h4, .sellgames h4 {
  color: var(--color-white);
  font-size: 2rem;
}
.index_sign-in .register, .index_sign-in .sellgames, .sellgames .register, .sellgames .sellgames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.index_sign-in .register a, .index_sign-in .sellgames a, .sellgames .register a, .sellgames .sellgames a {
  width: 330px;
  white-space: nowrap;
  padding: 4px 0;
}
.index_sign-in .register #street-address, .index_sign-in .register #email, .index_sign-in .register #title, .index_sign-in .register #repeat-password, .index_sign-in .sellgames #street-address, .index_sign-in .sellgames #email, .index_sign-in .sellgames #title, .index_sign-in .sellgames #repeat-password, .sellgames .register #street-address, .sellgames .register #email, .sellgames .register #title, .sellgames .register #repeat-password, .sellgames .sellgames #street-address, .sellgames .sellgames #email, .sellgames .sellgames #title, .sellgames .sellgames #repeat-password {
  width: 330px;
}
.index_sign-in .register #paypal, .index_sign-in .register #confirm, .index_sign-in .register #title, .index_sign-in .sellgames #paypal, .index_sign-in .sellgames #confirm, .index_sign-in .sellgames #title, .sellgames .register #paypal, .sellgames .register #confirm, .sellgames .register #title, .sellgames .sellgames #paypal, .sellgames .sellgames #confirm, .sellgames .sellgames #title {
  width: 330px;
}
.index_sign-in .register .register-button, .index_sign-in .sellgames .register-button, .sellgames .register .register-button, .sellgames .sellgames .register-button {
  margin-top: 1.3em;
  width: 100%;
}

.sell-info {
  width: 310px;
  padding: 1em;
  background-color: var(--color-black-60);
  border-radius: var(--border-radius-boxes);
  border: var(--border-1px-yellow);
  margin: 1em auto;
}

/* Register form & Sell Games Form*/
.fieldset_register, .fieldset_sellgames {
  height: 570px;
  width: 90%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.fieldset_register label, .fieldset_sellgames label {
  width: 151px;
  text-align: left;
}

.fieldset_sellgames {
  display: flex;
  justify-content: center;
  height: 540px;
  width: 358px;
}
.fieldset_sellgames .divider {
  margin: 1em auto;
}

.sellgames-button {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sellgames-button a {
  display: flex;
  justify-content: space-around;
}

.form_confirm {
  margin: 1em auto;
}

.form_paypal label, .form_confirm label {
  width: 330px;
}

#message:focus-within, #first:focus-within, #last:focus-within, #first-name:focus-within, #last-name:focus-within, #email:focus-within,
#street-address:focus-within, #zip:focus-within, #city:focus-within, #country:focus-within, #phone:focus-within, #username:focus-within,
#password:focus-within, #repeat-password:focus-within, #cardnumber:focus-within, #exp_date:focus-within, #cvc:focus-within, #asking-price:focus-within,
#platform:focus-within, #title:focus-within, #type:focus-within, #cover:focus-within, #rating:focus-within, #gamespot-link:focus-within, #paypal:focus-within,
#confirm:focus-within {
  background-color: lightgoldenrodyellow;
  color: var(--color-black-90);
}

#first-name, #last-name, #email, #street-address, #zip, #city, #country, #phone, #username, #password, #repeat-password,
#first, #last, #message, #cvc, #exp_date, #cardnumber, #asking-price, #platform, #title, #type, #cover, #rating, #gamespot-link, #paypal, #confirm {
  width: 152px;
  background-color: var(--color-black);
  color: var(--color-yellow-logo);
  border: 1px solid var(--color-yellow-logo);
  height: 30px;
  border-radius: 0.4em;
  margin: 0.4em 0;
}

.required {
  color: var(--color-red);
}

.required:before {
  content: ".";
  color: rgba(0, 0, 0, 0);
}

.divider {
  text-align: center;
  width: 200px;
  height: 1em;
  margin: 0 auto 1em auto;
  border-bottom: 1px solid var(--color-yellow-logo);
}

/* About Us Page */
.about-us__content {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
}

.about-us__content, .contact_intro {
  display: block;
  justify-content: left;
  padding: 1em;
  margin-bottom: 1em;
  max-width: 580px;
  border-radius: var(--border-radius-boxes);
}

.about, .profile, .checkout_success, .psn-grid {
  width: 90%;
  min-height: 50vh;
  text-align: center;
}
.about h1, .profile h1, .checkout_success h1, .psn-grid h1 {
  font-weight: 400;
  line-height: 97px;
}
.about h3, .about h3, .profile h3, .profile h3, .checkout_success h3, .checkout_success h3, .psn-grid h3, .psn-grid h3 {
  color: var(--color-yellow-logo);
}
.about p, .profile p, .checkout_success p, .psn-grid p {
  font-size: 1.2rem;
  padding: 5px 0;
}
.about .bottomdivider, .about .divider_about, .profile .bottomdivider, .profile .divider_about, .checkout_success .bottomdivider, .checkout_success .divider_about, .psn-grid .bottomdivider, .psn-grid .divider_about {
  margin-bottom: 2em;
}

/* Profile Page */
.profile {
  width: 100%;
}
.profile h4, .profile .h4 {
  padding-bottom: 0.5em;
}
.profile h6, .profile .h6 {
  padding-bottom: 1em;
}

.header__profile-pic {
  background-image: url(../images/img_profilepic_wide.png);
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: profile__pic;
  align-self: center;
  background-position-y: top;
  height: 100%;
}

.profile__name {
  display: grid;
  grid-area: profile__name;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

.logout {
  display: grid;
  text-align: right;
  color: var(--color-yellow-logo);
  padding-right: 5px;
  margin-top: 5px;
}

.stats, .checkout__cart {
  display: grid;
  grid-template-columns: 80px 80px 100px;
  grid-template-rows: 25px 25px 25px 45px;
  background-color: var(--color-black-90);
  border: var(--border-1px-yellow);
  border-radius: var(--border-radius-boxes);
  margin-bottom: 2em;
  align-items: center;
  padding: 10px 0.8em 0 0.8em;
}
.stats .amount, .stats .type, .checkout__cart .amount, .checkout__cart .type {
  text-align: right;
}
.stats .bought, .checkout__cart .bought {
  color: var(--color-white);
  text-align: left;
}
.stats .sold, .checkout__cart .sold {
  color: var(--color-yellow-logo);
}

.profile__card {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 10px;
  width: 90%;
  background-color: var(--color-black-90);
  max-width: 600px;
  border: var(--border-1px-yellow);
  border-radius: var(--border-radius-boxes);
}
.profile__card p {
  font-size: 1rem;
  text-align: left;
}
.profile__card .picture {
  background-position: top right;
  background-image: url(../images/img_profilepic_wide.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 100px;
  min-height: 100px;
}

.spacer {
  height: 2em;
}

.buy-games__left, .goto-cart {
  padding: 1em 0;
  color: var(--color-yellow-logo);
  text-decoration: none;
  align-items: center;
}
.buy-games__left a, .goto-cart a {
  display: flex;
  align-items: center;
  color: var(--color-yellow-logo);
  text-decoration: none;
  font-size: 1rem;
}
.buy-games__left a:hover, .goto-cart a:hover {
  text-decoration: underline;
}

.buy-games__left a:before {
  content: url(../images/ico_arrow_left.svg);
  padding: 5px;
  height: 16px;
}

.goto-cart a:after {
  content: url(../images/ico_arrow-right1.svg);
  padding: 5px;
  height: 16px;
}

.profile-links {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  width: 360px;
  max-width: 360px;
}

/* Contact Page */
.contact {
  max-width: 100%;
}
.contact h1 {
  margin-top: 0.4em;
  font-weight: 400;
}
.contact .contact_intro {
  text-align: center;
  font-size: 1rem;
}
.contact .contact__wrapper {
  display: block;
  justify-content: space-around;
}
.contact .contact__wrapper .contact-info, .contact .contact__wrapper .visit-info, .contact .contact__wrapper .send-message {
  margin: 0 auto;
  width: 100%;
  padding: 0.5em;
}
.contact .contact__wrapper .contact-info .spacer, .contact .contact__wrapper .visit-info .spacer, .contact .contact__wrapper .send-message .spacer {
  height: 1em;
}
.contact .contact__wrapper .contact-info p, .contact .contact__wrapper .visit-info p, .contact .contact__wrapper .send-message p {
  font-size: 1rem;
}
.contact .contact__wrapper .contact-info a, .contact .contact__wrapper .visit-info a, .contact .contact__wrapper .send-message a {
  color: var(--color-white);
  text-decoration: none;
}
.contact .contact__wrapper .contact-info a:hover, .contact .contact__wrapper .visit-info a:hover, .contact .contact__wrapper .send-message a:hover {
  color: var(--color-yellow-logo);
}
.contact .contact__wrapper .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact__wrapper .visit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact__wrapper .visit-info h6, .contact .contact__wrapper .visit-info .h6, .contact .contact__wrapper .visit-info p {
  text-align: center;
}
.contact .contact__wrapper .visit-info .maps__wrapper {
  display: flex;
  justify-content: center;
  border: 4px solid var(--color-yellow-80);
  box-shadow: 3px 4px 10px var(--color-yellow-80);
  border-radius: var(--border-radius-boxes);
}
.contact .contact__wrapper .send-message {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact .contact__wrapper .send-message fieldset {
  display: block;
  justify-content: center;
  width: 350px;
  margin-bottom: 2em;
  border: 1px solid var(--color-yellow-logo);
  padding: 0.7em;
  border-radius: var(--border-radius-boxes);
  color: var(--color-white);
  background-color: var(--color-black-60);
}
.contact .contact__wrapper .send-message legend {
  padding: 0 0.5em;
  color: var(--color-yellow-logo);
  font-size: 1.4rem;
  text-align: center;
}
.contact .contact__wrapper .send-message .sendus-message_form_wrapper {
  width: 340px;
  display: flex;
  justify-content: space-around;
}
.contact .contact__wrapper .send-message #email, .contact .contact__wrapper .send-message #title, .contact .contact__wrapper .send-message #paypal, .contact .contact__wrapper .send-message #confirm {
  width: 326px;
}
.contact .contact__wrapper .send-message textarea, .contact .contact__wrapper .send-message input {
  text-indent: 10px;
}
.contact .contact__wrapper .send-message label {
  display: flex;
  color: var(--color-white);
  justify-content: left;
}
.contact .contact__wrapper .send-message .send-msg-button {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact .contact__wrapper .send-message #message {
  width: 326px;
  height: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.contact .contact__wrapper .send-message a {
  color: var(--color-black);
  padding: 5px 15px;
  border: var(--border-1px-yellow);
  background-color: var(--color-yellow-logo);
  border-radius: var(--border-radius-boxes);
}
.contact .contact__wrapper .send-message a:hover {
  background-color: var(--color-grey-disabled);
  border: var(--border-1px-yellow);
}

/* Checkout page */
.checkout #cvc, .checkout #exp_date, .checkout #cardnumber, .cart #cvc, .cart #exp_date, .cart #cardnumber {
  width: 250px;
}
.checkout fieldset, .cart fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-black-90);
  padding: 20px;
  border: var(--border-1px-yellow);
  border-radius: var(--border-radius-boxes);
}
.checkout fieldset .form_cardnumber, .checkout fieldset .form_exp_date, .checkout fieldset .form_cvc, .cart fieldset .form_cardnumber, .cart fieldset .form_exp_date, .cart fieldset .form_cvc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkout a, .cart a {
  color: var(--color-yellow-logo);
  text-decoration: none;
}
.checkout h1, .cart h1 {
  margin: 0.3em auto;
}
.checkout .row3, .checkout .row5, .cart .row3, .cart .row5 {
  height: 20px;
  border-bottom: var(--border-1px-yellow);
}
.checkout span, .checkout .vat, .checkout .price__before, .checkout .price__before__top, .checkout .price__before__bottom, .checkout .checkout_items, .checkout .address, .checkout .change, .cart span, .cart .vat, .cart .price__before, .cart .price__before__top, .cart .price__before__bottom, .cart .checkout_items, .cart .address, .cart .change {
  font-size: 0.8rem;
}
.checkout .price__before, .checkout .price__before__top, .checkout .price__before__bottom, .cart .price__before, .cart .price__before__top, .cart .price__before__bottom {
  text-decoration: line-through;
  text-align: right;
}
.checkout .filler, .cart .filler {
  color: var(--color-black);
}
.checkout .checkout_items, .checkout .change, .checkout .amountfreight, .checkout .totalamount, .cart .checkout_items, .cart .change, .cart .amountfreight, .cart .totalamount {
  text-align: right;
}
.checkout .vat, .checkout .order, .checkout .freight, .checkout .address, .cart .vat, .cart .order, .cart .freight, .cart .address {
  white-space: nowrap;
}
.checkout .checkout__cart, .cart .checkout__cart {
  grid-template-columns: 120px 110px 70px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 40px;
}

.checkout__cart {
  margin-bottom: 2em;
  margin-top: 2em;
}

.checkout__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7em;
}

.payment-options img {
  width: 350px;
}

.visa {
  width: 350px;
  margin-bottom: 2em;
}

legend {
  padding: 0 0.5em;
  color: var(--color-yellow-logo);
  font-size: 1.2rem;
  text-align: center;
}

.paynow-button {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.paynow-button a {
  margin-top: 20px;
  color: var(--color-black);
  padding: 5px 15px;
  border: var(--border-1px-yellow);
  background-color: var(--color-yellow-logo);
  border-radius: var(--border-radius-boxes);
}
.paynow-button a:hover {
  background-color: var(--color-grey-disabled);
  color: var(--color-yellow-logo);
}

.checkout__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.checkout__bottom .terms {
  padding: 0.5em;
  width: 200px;
  font-size: 0.8rem;
  text-align: center;
}
.checkout__bottom a:hover {
  text-decoration: underline;
}
.checkout__bottom a img {
  padding: 2px;
}

.red {
  color: var(--color-red);
}

.red:hover {
  color: var(--color-white);
}

.red:after {
  content: url(../images/ico_cancel-red.svg);
  padding: 4px;
}

/* Checkout Success Page */
.checkout_success a {
  font-style: italic;
}
.checkout_success a:hover {
  color: var(--color-white);
}
.checkout_success .success__wrapper {
  padding: 2.5em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 90%;
  max-width: 600px;
  border: var(--border-1px-yellow);
  border-radius: var(--border-radius-boxes);
  background-color: var(--color-black-60);
}
.checkout_success .success__wrapper p {
  max-width: 500px;
  font-size: 1rem;
  padding: 1em;
}
.checkout_success .success__wrapper .success {
  font-size: 1.3rem;
}
.checkout_success .success__wrapper img {
  width: 110px;
}

/* Playstation Grid Page */
.psn-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.image-mockup img {
  width: 100%;
}

.psn__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-width: 600px;
}

.psn__wrapper_wide, .detail-image {
  display: none;
}

.summary__wrapper {
  display: flex;
  margin: 0 0 0 1em;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.summary__wrapper .detail-image {
  background-image: url(../images/gamedetails/forgelegenddetails2_small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-boxes);
  height: 180px;
  background-position: left;
}

.container {
  background-color: var(--color-black-60);
  border: var(--border-1px-yellow);
  border-radius: var(--border-radius-boxes);
  width: 360px;
  height: 350px;
  padding: 4px 5px 0 0px;
}

.container:hover {
  border-radius: var(--border-radius-boxes);
  box-shadow: 3px 3px 8px var(--color-yellow-logo);
}

.type {
  text-indent: 6px;
}

.items {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 70px 30px 80px;
  grid-template-rows: 45px 24px 22px 22px 22px 22px 28px 22px 36px 24px 24px;
  grid-template-areas: "gametitle gametitle gametitle gametitle" "gamecover backtogames backtogames backtogames" "gamecover releasedate releasedate reldate" "gamecover type typeico typetext" "gamecover region regionico regiontext" "gamecover platform platformico platformtext" "gamecover useroffers useroffers useroffers" "gamecover gsrating gsrating rating" "gamecover readreview readreview togglewishlist" "ourprice number number price" ". . . pricebefore";
}

.small {
  font-size: 0.8rem;
  width: 100%;
}

.psnleft {
  text-align: left;
}
.psnleft a {
  color: var(--color-yellow-logo);
  text-decoration: none;
}
.psnleft a:hover {
  text-decoration: underline;
  color: var(--color-white);
}

.psnright {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.psnright img, .psnright a {
  width: 20px;
  height: 20px;
}

.psncenter {
  text-align: center;
}
.psncenter img {
  display: flex;
  justify-content: center;
  height: 14px;
}

.game-title {
  grid-area: gametitle;
}

.game-cover {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: gamecover;
  height: 100%;
  padding: 0 6px;
}
.game-cover img:hover {
  border-radius: 1em;
  box-shadow: 3px 3px 8px var(--color-yellow-logo);
  transform: scale(1.1);
}
.game-cover img {
  height: 95%;
  width: 95%;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}

.backtogames {
  grid-area: backtogames;
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
  height: 16px;
}

.release-date {
  grid-area: releasedate;
}

.reldate {
  grid-area: reldate;
}

.type {
  grid-area: type;
}

.type-ico {
  grid-area: typeico;
}

.type-text {
  grid-area: typetext;
}

.region {
  grid-area: region;
}

.region-ico {
  grid-area: regionico;
}

.region-text {
  grid-area: regiontext;
}

.platform {
  grid-area: platform;
}

.platform-ico {
  grid-area: platformico;
}

.platform-text {
  grid-area: platformtext;
}

.useroffers {
  grid-area: useroffers;
  display: flex;
  align-items: flex-start;
}

.gsrating {
  white-space: nowrap;
  grid-area: gsrating;
}

.rating {
  grid-area: rating;
}

.readreview {
  grid-area: readreview;
}

.togglewishlist {
  grid-area: togglewishlist;
  width: 100%;
}
.togglewishlist img {
  display: flex;
  justify-content: flex-end;
}
.togglewishlist img:hover {
  content: url(../images/ico_heart.svg);
}
.togglewishlist .remove:hover {
  content: url(../images/ico_heart_-.svg);
}

.ourprice {
  grid-area: ourprice;
}

.number {
  grid-area: number;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  grid-area: price;
}

.price__before {
  grid-area: pricebefore;
  text-decoration: line-through;
  font-size: 0.8rem;
}
.price__before .dollar {
  font-size: 0.8rem;
}

.dollar {
  color: rgba(0, 0, 0, 0);
}

.dollar:before {
  content: "$";
  color: var(--color-yellow-logo);
}

.howmany {
  font-size: 1rem;
  border: var(--border-1px-yellow);
  background-color: var(--color-black);
  border-radius: var(--border-radius-boxes);
  width: 40px;
  margin: 0 5px;
  text-align: center;
}

.psn__buttons {
  display: flex;
  justify-content: space-around;
}
.psn__buttons a {
  display: flex;
  justify-content: center;
  color: var(--color-yellow-logo);
  text-decoration: none;
  width: 130px;
  height: 100%;
}
.psn__buttons a:hover {
  color: var(--color-black);
  border: var(--color-black);
}

/* Product Details */
.product_details, .cart, .wishlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.product_details h1, .cart h1, .wishlist h1 {
  margin: 0.25em;
}
.product_details .share, .cart .share, .wishlist .share {
  display: block;
  width: 220px;
  height: 140px;
  background-color: var(--color-black-60);
  justify-content: center;
  align-items: center;
  margin: 3em auto;
}
.product_details .share p, .cart .share p, .wishlist .share p {
  margin: 1em;
}

.details .psn__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.summary {
  font-size: 1rem;
  max-width: 350px;
  width: 95%;
  grid-area: summary;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 350px;
}
.description .divider {
  margin: 0;
  height: 0;
}
.description h4, .description .h4 {
  margin: 25px auto 0 auto;
  color: var(--color-white);
}
.description img {
  width: 350px;
}

.viewdetails__cta,
.addtocart__cta:hover,
.checkout__cta:hover,
.cta:hover {
  background-color: var(--color-yellow-logo);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.addtocart__cta, .checkout__cta, .cta {
  width: 130px;
  color: var(--color-yellow-logo);
  background-color: var(--color-black);
  text-align: center;
  padding: 10px;
  border-radius: var(--border-radius-boxes);
  border: var(--border-1px-yellow);
}

.cta__buttons {
  margin: 10px auto;
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.gameplay, .plot, .features {
  display: block;
}
.gameplay p, .plot p, .features p {
  padding: 3px;
}

.features {
  margin-bottom: 1em;
}

/* Shopping Cart & Wishlist */
.cart h1 {
  font-size: 3rem;
  text-align: center;
}

.wishlist-links {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.wl-right {
  display: flex;
  justify-content: flex-end;
}

.wl-left {
  display: flex;
  justify-content: flex-start;
}

.cart-checkout {
  margin: 0 auto 0.5em auto;
}
.cart-checkout img {
  width: 300px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-black-90);
}

.footer__wrapper {
  width: 100%;
  border-top: 1px solid var(--color-yellow-logo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--color-yellow-logo);
}

.footer__sitenav {
  margin-bottom: 8px;
}
.footer__sitenav span {
  display: block;
  align-items: flex-start;
  height: 30px;
}

a:hover {
  color: var(--color-yellow-logo);
}

.left .active {
  background-color: var(--color-grey-disabled);
  width: 100%;
  border-radius: 0.4em;
  cursor: default;
  color: var(--color-yellow-logo);
}

.left .links:hover {
  background-color: var(--color-grey-disabled);
  border-right: 2px solid var(--color-yellow-logo);
  border-radius: 0.4em;
  color: var(--color-yellow-logo);
}

.left .menu {
  width: 170px;
  padding: 5px 10px;
  margin: 5px auto;
}

.left .links {
  display: flex;
  justify-content: space-between;
  margin: 0 3px;
  padding: 3px;
  width: 180px;
}
.left .links img {
  padding: 4px;
  width: 30px;
  height: 30px;
}

.left a {
  display: inline-flex;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  gap: 2em;
}

.get-app {
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-yellow-logo);
}

.social-media {
  border: 1px solid var(--color-yellow-logo);
  padding: 1em;
  border-radius: 1em;
}
.social-media img {
  transition: all 0.2s;
}
.social-media img:hover {
  transform: scale(1.4);
}

.app-text,
.social-media__icons,
.trustpilot {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media__text {
  padding-bottom: 10px;
  text-align: center;
}

.app-text,
.partners {
  display: block;
  padding-bottom: 1em;
  text-align: center;
}

.app-text p {
  padding: 2px;
}

.app-text a,
.partners a {
  display: block;
  text-decoration: none;
  color: var(--color-yellow-logo);
}

.app-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1em;
}

.app-images img {
  max-width: 130px;
  padding: 5px;
}

.trustpilot__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1.5em;
}

.trustpilot {
  border-bottom: 1px solid var(--color-yellow-logo);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}

.logo__footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo__footer img {
  width: 75%;
  max-width: 100%;
}

.partners .checkpartners {
  padding-bottom: 2em;
  font-size: 1.2rem;
}
.partners .partners__spacer {
  padding: 10px;
}
.partners a:hover {
  text-decoration: underline;
}
.partners a {
  padding: 2px 0;
}

.copyright {
  display: block;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid var(--color-yellow-logo);
  text-align: center;
  margin: 0 auto;
  background-color: var(--color-black-90);
}

@media screen and (max-height: 450px) {
  .menu-flyin {
    height: 235px;
  }
  .menu-flyin .active {
    height: 16px;
  }
  .menu-flyin .links {
    height: 20px;
    font-size: 8px;
  }
  .menu-flyin .links img {
    padding: 0px;
    width: 15px;
    height: 12px;
  }
}
/* @media screensize under 769px */
@media screen and (max-width: 768px) {
  .footer__wrapper .widescreen {
    display: none;
  }
  .header__wrapper {
    display: none;
  }
  .topnav__mob {
    margin: 0 auto;
  }
  .navbar-top {
    top: 5px;
  }
  .main-menu {
    display: none;
  }
  .placeholder {
    display: none;
  }
  .header__wrapper-wide {
    height: 140px;
    display: grid;
    padding: 0 5px;
    width: 360px;
    padding-top: 5px;
    justify-content: space-around;
    align-content: flex-start;
    grid-template-areas: "navbar navbar navbar" "profile__pic profile__name logout" "profile__pic . .";
    grid-template-columns: 80px 200px 80px;
    grid-template-rows: 45px 75px 15px;
    height: 140px;
    width: 360px;
  }
  .header__wrapper-wide .topnav__mob {
    grid-area: navbar;
    width: 100%;
    justify-content: center;
  }
  .header__wrapper-wide .header__logo {
    display: none;
  }
  .header__wrapper-wide .explore_none {
    display: none;
  }
  .header__wrapper-wide .explore {
    display: none;
  }
  .header__wrapper-wide .header__profile-pic {
    margin-right: 10px;
    margin-top: 5px;
  }
}
/* @media screensize from 769px to 1080px */
@media screen and (min-width: 769px) {
  .main-menu {
    grid-area: menu;
    width: 100%;
  }
  .profile__card p {
    font-size: 1.2rem;
  }
  .profile__card .spacer {
    height: 3em;
  }
  .header__wrapper-wide {
    display: grid;
    grid-template-areas: "menu logo explore profile__pic navbar navbar" ". logo explore profile__pic profile__name logout" ". logo explore . . .";
    grid-template-columns: 80px 150px 1fr 100px 210px 155px;
    grid-template-rows: 45px 75px 15px;
    width: 100%;
  }
  .header__wrapper-wide .topnav__mob {
    width: 100%;
    justify-content: center;
  }
  .header__wrapper-wide .header__logo {
    grid-area: logo;
    background-image: url(../images/img_logo_footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5px;
  }
  .header__wrapper-wide .explore_none {
    display: flex;
    grid-area: explore;
  }
  .header__wrapper-wide .explore {
    display: none;
  }
  .header__wrapper-wide .header__profile-pic {
    margin: 10px;
    margin-top: 20px;
  }
  .header__wrapper-wide .topnav__mob {
    grid-area: navbar;
  }
  .buy-sell_buttons img {
    width: 15vh;
  }
  .footer__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer__wrapper .links .widescreen {
    display: flex;
    width: 100%;
  }
  .left, .middle, .right, .get-app, .trustpilot {
    border-bottom: 0;
    margin-top: 0;
  }
  .trustpilot__images {
    padding-top: 1em;
  }
  .social-media {
    margin: 1.5em 0;
  }
  .index_sign-in .sign_in, .index_sign-in .register, .index_sign-in .sellgames {
    width: 360px;
  }
  .profile-links {
    width: 380px;
  }
  .checkout .checkout__cart, .cart .checkout__cart {
    grid-template-columns: 200px 200px 100px;
  }
  .details .psn__wrapper {
    display: none;
  }
  .details .psn__wrapper_wide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    max-width: 800px;
    background-color: var(--color-black-60);
    border-radius: var(--border-radius-boxes);
    border: var(--border-1px-yellow);
  }
  .details .psn__wrapper_wide .detail-image {
    display: block;
  }
  .details .psn__wrapper_wide .container {
    box-shadow: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 4px;
  }
  .description {
    width: 500px;
  }
  .description img {
    width: 500px;
  }
  .cart .buy-games__left, .cart .wl-left, .cart .wl-right, .wishlist .buy-games__left, .wishlist .wl-left, .wishlist .wl-right {
    width: 532px;
  }
  .cart .buy-games__left a, .cart .wl-left a, .cart .wl-right a, .wishlist .buy-games__left a, .wishlist .wl-left a, .wishlist .wl-right a {
    display: flex;
    width: 266px;
  }
  .cart .cart h1, .wishlist .cart h1 {
    font-size: 3.583rem;
  }
  .cart .wl-right a, .wishlist .wl-right a {
    justify-content: flex-end;
  }
  .cart .wl-left a, .wishlist .wl-left a {
    justify-content: flex-start;
  }
  .wishlist-links {
    width: 532px;
  }
  /* PSN-GRID */
  .image-mockup, .psn__wrapper {
    max-width: 740px;
  }
}
/* @media screensize over 1080px */
@media screen and (min-width: 1081px) {
  .header__wrapper-wide .explore {
    display: grid;
    width: 100%;
    height: 100%;
    grid-area: explore;
    text-align: center;
  }
  .header__wrapper-wide .explore .lets-explore, .header__wrapper-wide .explore h1 {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    font-size: 4.7vw;
    white-space: nowrap;
    color: var(--color-black);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--color-yellow-logo);
  }
  .header__wrapper-wide .explore img {
    width: 80%;
  }
  .footer__wrapper, .links, .widescreen {
    display: flex;
  }
  .profile-links {
    width: 360px;
  }
  .contact .divider {
    display: none;
  }
  .contact .contact__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .checkout__wrapper {
    width: 800px;
  }
  .checkout .checkout__cart, .cart .checkout__cart {
    grid-template-columns: 300px 200px 100px;
  }
  .description {
    width: 600px;
  }
  .description img {
    width: 300px;
  }
  .details-img {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 10px;
  }
  .details-img img {
    overflow: hidden;
    height: 100%;
  }
  /* PSN-GRID */
  .image-mockup, .psn__wrapper {
    max-width: 1200px;
  }
}
/* @media screensize over 1980px */
@media screen and (min-width: 1641px) {
  .header__wrapper-wide {
    height: 200px;
    max-width: 1980px;
  }
  .header__wrapper-wide .explore .h1, .header__wrapper-wide .explore .lets-explore {
    margin-top: 30px;
  }
  .header__wrapper-wide .explore img {
    margin-top: 25px;
    width: 60%;
  }
  .footer__wrapper {
    padding-right: 550px;
    padding-left: 550px;
    justify-content: space-around;
  }
}/*# sourceMappingURL=main.css.map */