@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;900&display=swap");
:root {
  /* Color styles */
  --color-yellow-logo: #F5C518;
  --color-yellow-80: rgba(245, 197, 24, 0.5);
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #EF5A5A;
  --color-green-checked: #2DEB35;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-grey-disabled: #404040;
  --color-black-90: rgba(0, 0, 0, 0.9);
  /* Font styles */
}
:root h1, :root h2, :root h3, :root h4, :root h5, :root h6,
:root .paragraph__medium,
:root .paragraph__xs,
:root .paragraph__xxs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: var(--color-white);
}
:root h1 {
  font-family: "Roboto";
  font-size: 3.583rem;
  line-height: 67px;
}
:root h2 {
  font-size: 2.986rem;
  line-height: 58px;
}
:root h3 {
  font-size: 2.488rem;
  line-height: 48px;
}
:root h4 {
  font-size: 2.074rem;
  line-height: 40px;
  color: var(--color-yellow-logo);
}
:root h5 {
  font-size: 1.728rem;
  line-height: 33px;
}
:root h6 {
  font-weight: 600;
  font-size: 1.44rem;
  line-height: 28px;
}
:root .paragraph__medium {
  font-size: 1rem;
  line-height: 24px;
}
:root .paragraph__xs {
  font-size: 0.694rem;
  line-height: 16px;
}
:root .paragraph__xxs {
  font-size: 0.579rem;
  line-height: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, Inter, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  background-image: url(../images/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  height: 100vh;
}

header {
  border-bottom: 1px solid var(--color-yellow-logo);
}

header a,
footer a {
  color: var(--color-white);
  font-size: 1rem;
  text-decoration: none;
}

.navigation {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.main-menu {
  display: inline-block;
}

.menu-main:hover {
  background-color: var(--color-grey-disabled);
}
.menu-main:hover p {
  color: var(--color-yellow-logo);
  text-decoration: underline;
}

.menu-main {
  display: flex;
  cursor: pointer;
  background: var(--color-black-90);
  padding: 0px 10px 0px 0px;
  gap: 3px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 0.5em;
  border: 1px solid var(--color-yellow-logo);
  height: 35px;
  font-size: 0.8em;
  align-items: center;
}
.menu-main img {
  width: 24px;
}

nav {
  display: none;
  position: fixed;
  top: 45px;
  left: 5px;
  background-color: var(--color-black-90);
  z-index: 500;
  border: 1px solid var(--color-yellow-logo);
  border-radius: 1em;
}
nav li:hover {
  background-color: var(--color-grey-disabled);
  border-right: 2px solid var(--color-yellow-logo);
  border-radius: 0.4em;
}
nav li:hover p {
  color: var(--color-yellow-logo);
}

nav ul {
  width: 165px;
  padding: 5px 10px;
  margin: 5px auto;
}

.close {
  display: grid;
  grid-template-columns: 0.4fr 0.2fr;
  justify-content: right;
  right: 20px;
  padding: 0 0 5px 0;
  margin-left: 30px;
  cursor: pointer;
}

nav li {
  display: flex;
  justify-content: space-between;
  margin: 0 3px;
}
nav li img {
  padding: 4px;
  width: 30px;
  height: 30px;
}

nav a {
  display: inline-flex;
  align-items: center;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  -webkit-animation-name: flyin;
          animation-name: flyin;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: "normal";
          animation-direction: "normal";
}
@-webkit-keyframes flyin {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}
@keyframes flyin {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}

.wrapper {
  display: flex wrap;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
  height: 120px;
}

.navbar-top {
  margin: 0;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 360px;
}

.topnav ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-right: 5px;
  align-items: center;
  width: 360px;
  height: 35px;
  border-radius: 0.5em;
  background: var(--color-black);
  border: 1px solid var(--color-yellow-logo);
  padding: 0;
}
.topnav ul li:hover {
  background-color: var(--color-grey-disabled);
  border-top: 1px solid var(--color-yellow-logo);
  border-bottom: 1px solid var(--color-yellow-logo);
  border-radius: 0.4em;
}
.topnav ul li:hover p {
  color: var(--color-yellow-logo);
}
.topnav ul .active {
  background-color: var(--color-grey-disabled);
  border-top: 1px solid var(--color-yellow-logo);
  border-bottom: 2px solid var(--color-yellow-logo);
  border-radius: 0.4em;
  cursor: default;
}
.topnav ul .active p {
  color: var(--color-yellow-logo);
}

.topnav li {
  display: Flex;
  list-style: none;
  align-items: center;
}
.topnav li img {
  padding: 4px;
  width: 30px;
}
.topnav li a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  width: auto;
}

.back {
  padding-right: 5px;
}

/* Sign in section */
.sign-in {
  display: flex;
  max-width: 360px;
  height: 80px;
  top: 40px;
  position: absolute;
}

.sign-in__text {
  width: 60%;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}
.sign-in__text p {
  transform: rotate(-6.92deg);
  -webkit-text-stroke-color: var(--color-yellow-logo);
  -webkit-text-stroke-width: 1px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.sign-in__form {
  width: 40%;
}
.sign-in__form #username, .sign-in__form #password {
  background-color: var(--color-black);
  border: 1px solid var(--color-yellow-logo);
  margin-bottom: 2px;
  color: var(--color-white);
}

input {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 20px;
  margin: 5px;
  font-size: 0.8rem;
  border-radius: 0.5em;
}

span {
  color: var(--color-red);
}

.form__inputs {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 24px;
}
.form__inputs span {
  color: red;
}

.form__buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.form__buttons input {
  font-size: 0.7rem;
  font-weight: 600;
}

.cta {
  display: flex;
  justify-content: center;
  width: 63px;
  background-color: var(--color-black);
  color: var(--color-yellow-logo);
  margin: 5px auto;
  border: 1px solid var(--color-yellow-logo);
  border-radius: 0.8em;
  cursor: pointer;
  text-align: center;
}

.cta:hover {
  background-color: var(--color-yellow-logo);
  color: var(--color-black);
  border-top: 1px solid var(--color-yellow-logo);
  border-bottom: 1px solid var(--color-yellow-logo);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  border-top: 1px solid var(--color-yellow-logo);
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-black-90);
  padding: 2em 0;
}

.left li:hover {
  background-color: var(--color-grey-disabled);
  border-right: 2px solid var(--color-yellow-logo);
  border-radius: 0.4em;
}
.left li:hover p {
  color: var(--color-yellow-logo);
}

.left ul {
  width: 165px;
  padding: 5px 10px;
  margin: 5px auto;
}

.left li {
  display: flex;
  justify-content: space-between;
  margin: 0 3px;
}
.left li img {
  padding: 4px;
  width: 30px;
  height: 30px;
}

.left a {
  display: inline-flex;
  align-items: center;
}

.copyright {
  display: block;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid var(--color-yellow-logo);
  text-align: center;
  margin: 0 auto;
  background-color: var(--color-black-90);
}/*# sourceMappingURL=styles.css.map */